.header {
  /* width: 100%; */
  height: 5rem;
  display: flex;
  padding: 0 10%;
  justify-content: space-between;
  align-items: center;
  background-color: #238e2a;
}

.nav_logo_btn {
  font: 2rem Helvetica, sans-serif;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.nav_logo_btn:hover,
.nav_logo_btn:active {
  color: #bdf7ba;
  text-decoration: none;
}

.nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav li {
  margin-left: 1.5rem;
  font-size: 1.25rem;
}

.nav a {
  font: 1.2rem Helvetica, sans-serif;
  text-decoration: none;
  color: #bdf7ba;
}

.nav a:hover,
.nav a:active,
.nav a.active {
  color: white;
  text-decoration: underline;
}
